/* Manrope Variable */
@font-face {
  font-family: "Manrope";
  src: url("./Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Incognito Regular */
@font-face {
  font-family: "Incognito";
  src: url("./incognito_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Incognito Medium */
@font-face {
  font-family: "Incognito";
  src: url("./incognito_medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Incognito Bold */
@font-face {
  font-family: "Incognito";
  src: url("./incognito_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Incognito Condensed */
@font-face {
  font-family: "Incognito Condensed";
  src: url("./incognito_condensed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GitLab Mono */
@font-face {
  font-family: "GitLab Mono";
  src: url("./gitlab-mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Pixel Square */
@font-face {
  font-family: "Geist Pixel Square";
  src: url("./GeistPixel/GeistPixel-Square.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Pixel Grid */
@font-face {
  font-family: "Geist Pixel Grid";
  src: url("./GeistPixel/GeistPixel-Grid.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Pixel Circle */
@font-face {
  font-family: "Geist Pixel Circle";
  src: url("./GeistPixel/GeistPixel-Circle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Pixel Triangle */
@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("./GeistPixel/GeistPixel-Triangle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Pixel Line */
@font-face {
  font-family: "Geist Pixel Line";
  src: url("./GeistPixel/GeistPixel-Line.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}